<%- include("./partials/header") %>

<div class="ui celled grid">
  <div class="row">
	  <div class="sixteen wide column">
<h1 class="ui header">About Blog-Fustuq !</h1>

<h3>
	This website is meant to be part of my portfolio, it does not represent any real Blogs. Any similarities in names or content is pure <strong>coincidence!</strong>
	All pictures are from <a href="https://www.unsplash.com">Unsplash.com</a>
	
</h3>
	  </div>
	</div>
</div>
<%- include("./partials/footer") %>
